<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Test</title>
</head>
<body>
    <h3>Link test</h3>
    <a href="/create/">Create New Post</a><br>
    <a href="/members/sign_up/">Sign Up</a><br>
    <a href="/members/login/">Log in</a><br>
    <a href="/members/edit_profile/">Edit Profile</a><br>
    <a href="/members/profile_page/">Profile Page</a>
</body>
</html>